.carousel-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-slide {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-image-container img.carousel-image {
    height: 590px;
    width: 100%;
    object-fit: cover;
    background-position: top center;
}

.carousel-image-container {
    position: relative;
    width: 100%;
    z-index: 0;
}

.carousel-image {
    width: 100%;
    height:100%;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    z-index: 1;
}

.carousel-title {
    font-size: 1.5rem;
    margin: 0;
}

.carousel-description {
    font-size: 1rem;
    margin: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}
