*{
    margin: 0;
    padding: 0;

}

@media screen and (max-width: 1010px) {
    .responsive{
        display: flex;
        flex-direction: column;
    }
    
}
.feature-cards {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
