.features-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .feature-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: .7rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #e2e0e0;
    width: 27rem;
    text-align: center;
  }
  
  .feature-icon {
    width: 4rem;
    height: 4rem;
    color: #38a169;
    margin-bottom: 1rem;
  }
  
  .feature-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .feature-description {
    font-size: 0.875rem;
    color: #4a5568;
  }